.normal {
  background-color: rgba(245, 185, 20, 0.5);
}
.fire {
  background-color: rgba(245, 141, 30, 0.5);
}
.fighting {
  background-color: rgba(185, 32, 37, 0.5);
}
.water {
  background-color: rgba(27, 175, 224, 0.5);
}
.flying {
  background-color: rgba(27, 175, 224, 0.5);
}
.grass {
  background-color: rgba(84, 185, 71, 0.5);
}
.poison {
  background-color: rgba(185, 32, 37, 0.5);
}
.electric {
  background-color: rgba(245, 184, 20, 0.5);
}
.ground {
  background-color: rgba(120, 66, 26, 0.5);
}
.psychic {
  background-color: rgba(193, 54, 148, 0.5);
}
.rock {
  background-color: rgba(167, 160, 151, 0.5);
}
.ice {
  background-color: rgba(98, 204, 246, 0.5);
}
.bug {
  background-color: rgba(84, 185, 71, 0.5);
}
.dragon {
  background-color: rgba(84, 185, 71, 0.5);
}
.ghost {
  background-color: rgba(139, 126, 114, 0.5);
}
.dark {
  background-color: rgba(193, 54, 148, 0.5);
}
.steel {
  background-color: rgba(27, 175, 224, 0.5);
}
.fairy {
  background-color: rgba(247, 228, 149, 0.5);
}
